<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_learningedusystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EduVerse"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElearningEduSystem"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ProfileSetupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".TeacherDashboardActivity" />
        <activity android:name=".AddCourseActivity" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".AssignmentActivity" />

        <receiver android:name=".NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".CourseAddedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.EDU_VERSE_COURSE_ADDED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>